.jumbotron{
    margin-top:80px;
    width:100%;
    text-align: center;
    padding:50px;
    background-image: url(https://news.emory.edu/features/2019/04/frontiers-of-the-brain/yfm-episode-9/assets/m7OT0h5pom/artboard-1-copy-8-2560x1440.jpeg);
    box-shadow: 10px 10px 10px #999;
margin-left: 0;
margin-right :0;
}